# Remplacez ces valeurs par vos propres tokens
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Configuration Discord
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CHANNEL_ID=1339229435622326365
DISCORD_CHANNEL_ID_PROMO_50=1339274933066399774
DISCORD_CHANNEL_ID_PROMO_70_100=1339229435622326365

# Configuration Email
EMAIL_ADDRESS=lucasgugliardi6@gmail.com
EMAIL_PASSWORD=your_app_specific_password_here
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
